.body-text {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: grey;
  color: whitesmoke;
  border-radius: 12px;
}

.body-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;

  align-content: center;
  justify-self: center;
}

.home-style {
  background-image: url("/downloadedImage/allPokemon.jpg");
  
}
